<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HospitalSelfSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <HospitalSelfSystem.Properties.Settings>
            <setting name="发卡器端口" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="钞箱端口" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="读卡器端口" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="读卡器类型" serializeAs="String">
                <value>M100</value>
            </setting>
            <setting name="卡类型" serializeAs="String">
                <value>磁条卡</value>
            </setting>
            <setting name="医院名称" serializeAs="String">
                <value>大沥医院</value>
            </setting>
            <setting name="运行模式" serializeAs="String">
                <value>DEMO</value>
            </setting>
            <setting name="数据库名称" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="用户名" serializeAs="String">
                <value/>
            </setting>
            <setting name="密码" serializeAs="String">
                <value/>
            </setting>
            <setting name="医院LOGO" serializeAs="String">
                <value>默认logo.png</value>
            </setting>
            <setting name="数据库IP" serializeAs="String">
                <value/>
            </setting>
            <setting name="系统管理密码" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="数据库类型" serializeAs="String">
                <value>MSSQLServer</value>
            </setting>
            <setting name="识别面额" serializeAs="String">
                <value>16777215</value>
            </setting>
            <setting name="启用医院介绍" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="启用自助发卡" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="启用消费查询" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="启用自助充值" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="启用余额查询" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="启用自助挂号" serializeAs="String">
                <value>True</value>
            </setting>
        </HospitalSelfSystem.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
